//-------------------------------------------------------------------------------
 @Home: Banner
//-------------------------------------------------------------------------------
-
  dataBanner = {
    bannerItem: [
      {
        title: 'Spicy delicious chicken wings',
        desc: 'Lorem ipsum dolor sit amet, consectetuipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.',
        subtitle: 'Hot Recipes',
        subIcon: 'assets/img/icon/subicon.png',
        bgImg: 'assets/img/banner/hero-banner.jpeg',
        avatar: 'assets/img/dummy/profile/profile-1.png',
        name: 'John Smith',
        date: '15 March 2024',
        badeTitle: 'Handpicked Recipes',
        emotImg: 'assets/img/icon/emot.png',
        txtBtn: 'View Chicken Recipes',
        tmBtn: '30 minutes',
        catBtn: 'chicken',
      },
      //- {
      //-   title: 'Fresh Caesar Salad',
      //-   desc: 'The Creamiest Creamy Chicken and Bacon Pasta',
      //-   subtitle: 'Healthy Eats',
      //-   subIcon: 'assets/img/banner/banner-2.png',
      //-   bgImg: 'assets/img/banner/banner-2.png',
      //-   avatar: 'assets/img/dummy/profile/profile-2.png',
      //-   name: 'Emma Green',
      //-   date: '20 March 2024',
      //-   emotImg: 'assets/img/icon/emot.png',
      //-   badgeTitle: 'Handpicked Recipes',
      //-   txtBtn: 'View Salad Recipes',
      //-   tmBtn: '15 minutes',
      //-   typeBtn: 'salad',
      //- },
      //- {
      //-   title: 'Classic Spaghetti Carbonara',
      //-   desc: 'A tasty and quick recipe for pasta lovers everywhere.',
      //-   subtitle: 'Pasta Special',
      //-   subIcon: 'assets/img/icon/subicon.png,
      //-   bgImg: 'assets/img/banner/banner-3.png',
      //-   avatar: 'assets/img/dummy/',
      //-   name: 'Michael Brown',
      //-   date: '25 March 2024',
      //-   emotImg: 'assets/img/icon/emot.png',
      //-   badgeTitle: 'Handpicked Recipes',
      //-   txtBtn: 'View Pasta Recipes',
      //-   tmBtn: '20 minutes',
      //-   typeBtn: 'pasta',
      //- }
    ]
  }

include ../../layouts/banner.pug
