//-------------------------------------------------------------------------------
// @Home: Banner
//-------------------------------------------------------------------------------

-
  dataBanner = {
    bannerItems: [
      {
        content: {
          title: 'Spicy delicious chicken wings',
          desc: 'Lorem ipsum dolor sit amet, consectetuipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.',
          buttonText: 'View Chicken Recipes'
        },
        details: {
          subtitle: 'Hot Recipes',
          category: {
            icon: 'assets/img/icon/ForkKnife.svg',
            name: 'chicken'
          },
          time: {
            icon: 'assets/img/icon/Timer.svg',
            duration: '30 minutes'
          }
        },
        media: {
          backgroundImg: 'assets/img/banner/banner-2.png',
          playIcon: 'assets/img/icon/play.svg',
          emotIcon: 'assets/img/icon/emot.png'
        },
        author: {
          avatar: 'assets/img/dummy/profile/profile-1.png',
          name: 'John Smith',
          date: '15 March 2024'
        },
        icons: {
          subtitleIcon: 'assets/img/icon/subicon.png',
          badgeIcon: 'assets/img/icon/Badge.png'
        }
      },
      {
        content: {
          title: 'Spicy delicious chicken wings',
          desc: 'Lorem ipsum dolor sit amet, consectetuipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.',
          buttonText: 'View Chicken Recipes'
        },
        details: {
          subtitle: 'Hot Recipes',
          category: {
            icon: 'assets/img/icon/ForkKnife.svg',
            name: 'chicken'
          },
          time: {
            icon: 'assets/img/icon/Timer.svg',
            duration: '30 minutes'
          }
        },
        media: {
          backgroundImg: 'assets/img/banner/banner.jpg',
          playIcon: 'assets/img/icon/play.svg',
          emotIcon: 'assets/img/icon/emot.png'
        },
        author: {
          avatar: 'assets/img/dummy/profile/profile-1.png',
          name: 'John Smith',
          date: '15 March 2024'
        },
        icons: {
          subtitleIcon: 'assets/img/icon/subicon.png',
          badgeIcon: 'assets/img/icon/Badge.png'
        }
      },
      {
        content: {
          title: 'Spicy delicious chicken wings',
          desc: 'Lorem ipsum dolor sit amet, consectetuipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.',
          buttonText: 'View Chicken Recipes'
        },
        details: {
          subtitle: 'Hot Recipes',
          category: {
            icon: 'assets/img/icon/ForkKnife.svg',
            name: 'chicken'
          },
          time: {
            icon: 'assets/img/icon/Timer.svg',
            duration: '30 minutes'
          }
        },
        media: {
          backgroundImg: 'assets/img/banner/banner.jpg',
          playIcon: 'assets/img/icon/play.svg',
          emotIcon: 'assets/img/icon/emot.png'
        },
        author: {
          avatar: 'assets/img/dummy/profile/profile-1.png',
          name: 'John Smith',
          date: '15 March 2024'
        },
        icons: {
          subtitleIcon: 'assets/img/icon/subicon.png',
          badgeIcon: 'assets/img/icon/Badge.png'
        }
      },
      {
        content: {
          title: 'Spicy delicious chicken wings',
          desc: 'Lorem ipsum dolor sit amet, consectetuipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.',
          buttonText: 'View Chicken Recipes'
        },
        details: {
          subtitle: 'Hot Recipes',
          category: {
            icon: 'assets/img/icon/ForkKnife.svg',
            name: 'chicken'
          },
          time: {
            icon: 'assets/img/icon/Timer.svg',
            duration: '30 minutes'
          }
        },
        media: {
          backgroundImg: 'assets/img/banner/banner.jpg',
          playIcon: 'assets/img/icon/play.svg',
          emotIcon: 'assets/img/icon/emot.png'
        },
        author: {
          avatar: 'assets/img/dummy/profile/profile-1.png',
          name: 'John Smith',
          date: '15 March 2024'
        },
        icons: {
          subtitleIcon: 'assets/img/icon/subicon.png',
          badgeIcon: 'assets/img/icon/Badge.png'
        }
      }
    ]
  };

include ../../layouts/banner.pug
