//-------------------------------------------------------------------------------
// @Home: Category
//-------------------------------------------------------------------------------

-
  data = {
    title: "Categories",
    btnTxt: "view all categories",
    variant: [
      {
        title: "breakfast",
        img: 'assets/img/dummy/categories/breakfast.png'/
      },
      {
        title: "Vegan",
        img: 'assets/img/dummy/categories/vegan.png'/
      },
      {
        title: "Meat",
        img: 'assets/img/dummy/categories/meat.png'/
      },
      {
        title: "Desserret",
        img: 'assets/img/dummy/categories/desserret.png'/
      },
      {
        title: "lunch",
        img: 'assets/img/dummy/categories/lunch.png'/
      },
      {
        title: "chocolate",
        img: 'assets/img/dummy/categories/chocolate.png'/
      },
    ]

  };

include ../../layouts/categories.pug
