//-------------------------------------------------------------------------------
//- // @Home: Category
//-------------------------------------------------------------------------------

-
  data = [
    {
      name: "breakfast",
      img: 'assets/img/dummy/categories/breakfast.png'
    },
    {
      name: "vegan",
      img: 'assets/img/dummy/categories/vegan.png'
    },
    {
      name: "meat",
      img: 'assets/img/dummy/categories/meat.png'
    },
    {
      name: "dessert",
      img: 'assets/img/dummy/categories/dessert.png'
    },
    {
      name: "lunch",
      img: 'assets/img/dummy/categories/lunch.png'
    },
    {
      name: "chocolate",
      img: 'assets/img/dummy/categories/chocolate.png'
    }
  ];

include ../../layouts/categories.pug
